header {
  background-color: rgb(14, 102, 161);
  text-align: center;
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  padding-top: 50px;
  padding-bottom: 50px;
}
header img {
  border-radius: 50%;
  width: 300px;
  border: 5px solid rgb(29, 46, 199);
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: "Hachi Maru Pop", cursive;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
main {
    margin: 0%;
    background-color: rgb(14, 102, 161);
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.sticky {
  position: sticky;
  background-color: rgb(0, 183, 255);
  top: 0;
}
.list-inline {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-inline > li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.list-inline > li > a {
  text-decoration-line: none;
  color:rgb(28, 45, 56);
}
.list-inline > li:before {
  content: "\200B"; /* 1 */
  position: absolute; /* 2 */
}
